<a href="https://colab.research.google.com/github/Suma-Marri/DataPrep_Assignment2/blob/main/DataPrep_Assignemnt2_Problem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install google.colab
!pip install linearmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google.colab in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: portpicker~=1.3.1 in /usr/local/lib/python3.7/dist-packages (from google.colab) (1.3.9)
Requirement already satisfied: astor~=0.8.1 in /usr/local/lib/python3.7/dist-packages (from google.colab) (0.8.1)
Requirement already satisfied: google-auth>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from google.colab) (1.35.0)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from google.colab) (1.3.5)
Requirement already satisfied: notebook~=5.3.0 in /usr/local/lib/python3.7/dist-packages (from google.colab) (5.3.1)
Requirement already satisfied: tornado~=5.1.0 in /usr/local/lib/python3.7/dist-packages (from google.colab) (5.1.1)
Requirement already satisfied: ipython~=7.9.0 in /usr/local/lib/python3.7/dist-packages (from google.colab) (7.9.0)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from google.colab) (2.23.0)
Requirement already satisfied: ipykernel~=5.3.4 in /usr/local/lib/python3.7/dist-packages (from google.colab) (5.3.4)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google.colab) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google.colab) (57.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google.colab) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google.colab) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google.colab) (4.9)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel~=5.3.4->google.colab) (6.1.12)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel~=5.3.4->google.colab) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (4.4.2)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (0.18.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython~=7.9.0->google.colab) (2.0.10)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython~=7.9.0->google.colab) (0.8.3)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (0.13.3)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (0.2.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (5.6.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (5.4.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (4.11.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (1.8.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google.colab) (2.11.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel~=5.3.4->google.colab) (23.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel~=5.3.4->google.colab) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->google.colab) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->google.colab) (2022.2.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython~=7.9.0->google.colab) (0.2.5)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.17.2->google.colab) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->google.colab) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->google.colab) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->google.colab) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->google.colab) (2.10)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook~=5.3.0->google.colab) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook~=5.3.0->google.colab) (2.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (1.5.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (5.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google.colab) (0.7.1)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook~=5.3.0->google.colab) (2.16.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook~=5.3.0->google.colab) (4.3.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (5.9.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (4.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (4.3.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (22.1.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook~=5.3.0->google.colab) (3.8.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook~=5.3.0->google.colab) (0.5.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: linearmodels in /usr/local/lib/python3.7/dist-packages (4.25)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.21.6)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.7.3)
Requirement already satisfied: mypy-extensions>=0.4 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.4.3)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.32)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.3.5)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.12.2)
Requirement already satisfied: pyhdfe>=0.1 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.1.0)
Requirement already satisfied: property-cached>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.6.4)
Requirement already satisfied: formulaic in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Requirement already satisfied: interface-meta>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.3.0)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: graphlib-backport>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.0.3)
Requirement already satisfied: cached-property>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.5.2)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.14.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (4.3.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DPFONAL_1.csv")
df = df.dropna(axis= 0, how='any', subset=['marital'])
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (134) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,rev_Range,...,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,car_buy,retdays,eqpdays,Customer_ID
0,76.9800,0.00,86.9800,0.0,0.0,0.000,0.000,0.0,0.0,0.00,...,U,U,U,U,U,N,UNKNOWN,NaN,NaN,1077200
1,30.2700,28.25,30.0000,0.0,0.0,0.000,0.000,0.0,0.0,0.54,...,U,U,U,U,Y,Y,UNKNOWN,NaN,566.0,1032004
2,46.1025,203.00,37.6575,0.0,30.5,10.675,10.675,0.0,0.0,31.87,...,U,U,Y,Y,U,Y,New,NaN,7.0,1003956
3,16.9900,3.25,16.9900,0.0,0.0,0.000,0.000,0.0,0.0,0.00,...,U,U,U,U,U,Y,New,NaN,1287.0,1002348
4,40.0700,270.00,50.0700,0.0,0.0,0.000,0.000,0.0,0.0,0.32,...,U,U,U,U,U,Y,New,NaN,1131.0,1003683

In [ ]:
df.groupby('marital').mean()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,rev_Range,...,age1,age2,adults,income,numbcars,forgntvl,educ1,retdays,eqpdays,Customer_ID
marital,,,,,,,,,,,,,,,,,,,,,
A,57.188450,457.401855,45.113339,0.941499,39.236780,12.757927,12.585329,0.172489,1.622567,41.482565,...,42.146658,40.576682,3.001514,5.790245,1.571912,0.002379,1.723404,245.282051,411.148605,1.046452e+06
B,61.661802,551.311597,48.081553,1.040501,44.203778,14.334368,14.045042,0.284047,1.183584,46.295328,...,29.182709,0.000000,1.000000,5.082934,1.379852,0.002177,1.718750,209.879433,385.453429,1.048707e+06
M,52.173508,405.132434,42.881550,0.740874,32.062420,10.495626,10.304785,0.189628,1.155373,34.217745,...,46.431997,39.057306,3.085009,6.480420,1.638403,0.121421,1.891918,215.406452,433.797979,1.046845e+06
S,60.109386,538.743557,46.505380,0.872373,42.810466,14.312681,14.010973,0.296795,1.348676,47.471232,...,37.123485,19.434470,2.342424,4.960262,1.511773,0.084407,1.787465,218.455587,386.583207,1.048704e+06
U,62.672928,589.179259,48.318299,0.977068,46.629686,15.507066,15.186949,0.316968,1.348238,51.230431,...,13.976533,7.442538,2.198563,5.594456,1.520917,0.010559,1.980636,219.348599,359.184438,1.053725e+06

In [ ]:
df['marital'].replace(['U', 'M', 'S', 'B', 'A'], [1, 2, 3, 4, 5], inplace=True)

In [ ]:
from statsmodels.formula.api import ols
from patsy.contrasts import Treatment
from patsy.contrasts import Diff

In [ ]:
levels = [1,2,3,4,5]

In [ ]:
pd.get_dummies(df.marital.values, drop_first=False)

       1  2  3  4  5
0      1  0  0  0  0
1      0  1  0  0  0
2      0  1  0  0  0
3      1  0  0  0  0
4      0  0  1  0  0
...   .. .. .. .. ..
88414  0  0  0  0  1
88415  1  0  0  0  0
88416  0  1  0  0  0
88417  0  1  0  0  0
88418  0  0  1  0  0

[88419 rows x 5 columns]

In [ ]:
contrast = Diff().code_without_intercept(levels)

In [ ]:
print(contrast.matrix)

[[-0.8 -0.6 -0.4 -0.2]
 [ 0.2 -0.6 -0.4 -0.2]
 [ 0.2  0.4 -0.4 -0.2]
 [ 0.2  0.4  0.6 -0.2]
 [ 0.2  0.4  0.6  0.8]]

In [ ]:
mod = ols("rev_Mean ~ C(marital, Diff)", data=df)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               rev_Mean   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     211.8
Date:                Mon, 26 Sep 2022   Prob (F-statistic):          3.26e-181
Time:                        23:27:52   Log-Likelihood:            -4.6271e+05
No. Observations:               88102   AIC:                         9.254e+05
Df Residuals:                   88097   BIC:                         9.255e+05
Df Model:                           4
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                58.7612      0.207    283.757      0.000      58.355      59.167
C(marital, Diff)[D.1]   -10.4994      0.375    -28.008      0.000     -11.234      -9.765
C(marital, Diff)[D.2]     7.9359      0.460     17.235      0.000       7.033       8.838
C(marital, Diff)[D.3]     1.5524      0.684      2.269      0.023       0.211       2.894
C(marital, Diff)[D.4]    -4.4734      0.892     -5.013      0.000      -6.222      -2.724
==============================================================================
Omnibus:                   144090.471   Durbin-Watson:                   1.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1092088855.342
Skew:                           9.965   Prob(JB):                         0.00
Kurtosis:                     548.069   Cond. No.                         7.35
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.